# Database Configuration
POSTGRES_URL=jdbc:postgresql://localhost:5433/dentalbot
POSTGRES_USERNAME=dentalbot
POSTGRES_PASSWORD=dentalBot@123

# JWT Configuration
JWT_SECRET=NX06dc1usR24Jz+DPXJKehus6PaSAJ6T3ZLJCd8xMB4=